@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>

<p>Plataforma digital de licença livre que permite o registro de boletins de ocorrência dos guardas municipais (BO GCM) e controle de vendedores ambulantes credenciados.</p>

<p>Desenvolvido durante o Hacknit 2018, créditos:</p>
<p>Daniel Mattos - Empreendedor</p>
<p>João Pedro - Desenvolvedor</p>
<p>Julia Barbosa - Empreendedora</p>
<p>Larissa Santos - Designer</p>
<p>Maurício Santos - Desenvolvedor</p>