@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ladeira da Glória 26, BLC 3<br />
    Glória, Rio de Janeiro - RJ 22211120<br />
    <abbr title="Phone">P:</abbr>
    21 99387-2881 | 21 98327-6933
</address>

<address>
    <strong>Suporte:</strong>   <a href="https://vertice.digital">help.vertice.digital</a><br />
    <strong>Jurídico:</strong> <a href="mailto:julia@emeudireito.com">julia@emeudireito.com</a>
    <strong>Vendas:</strong> <a href="mailto:danielsmattos@yahoo.com.br">danielsmattos@yahoo.com.br</a>
</address>