@{
    ViewBag.Title = "Guarda Digital";
}
<style>
.jumbotron {
    background-image: url('/imagem/fundo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.center{
    text-align: center;
}
.titulo-guarda {
    color:#000;
    display:inline-flex;
}
.p1 {
    margin-left:48px;
    font-size:28px;
}
.p2 {
    margin-left: 48px;
    font-size: 28px;
    margin-top: 20px;
}
.img-logo {
   margin-left:44px;
   vertical-align:middle;
   margin-top:-33px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.footer p {
    display: none;
}
</style>


<div class="jumbotron">
    <img src="/imagem/logo-guarda.png" width="50px" class="img-logo" />
    <h1 class="titulo-guarda">Guarda Digital</h1>
    <p class="p1">Combatendo a violência com inteligência</p>
    <p class="p2">Preenchimento dos boletins de ocorrência online, <br/> verificação dos vendedores ambulantes cadastrados <br/> em tempo real, com leitor de QR Code e acesso as principais <br/> leis que regem a Guarda Municipal de Niterói. </p>
</div>
<div class="col-md-12"><h2 class="center m-b-20">Em breve estará disponível nas lojas de aplicativos</h2>
    <div class="col-md-6 center"><img src="imagem/botaoPlay.png" width="200px" /></div>
        <div class="col-md-6 center"><img src="imagem/botaoapp.png" width="200px" /></div>

</div>

