*.cache*.targets
*.props
*.dll
*.pdb
*.publishsettings
\backend\GD.API\GD.WebAPI\obj
*.db
*.dtbcache
*.vs
.vs/
*.user
.vs
*.csproj
backend\GD.API\GD.WebAPI\bin

backend/GD.API/GD.WebAPI/bin/
backend/GD.API/GD.WebAPI/obj/
backend/GD.API/GD.WebAPI/Properties/PublishProfiles
backend/GD.API/GD.WebAPI/appsettings.Development.json
backend/GD.API/GD.WebAPI/Properties/launchSettings.json
backend/packages/
backend/Web/GD.Entity/obj/
backend/Web/GD.Entity/bin/
backend/Web/packages/
backend/Web/Web/bin/
*.out
*.cache
backend/Web/Web/obj/
backend/Web/GD.Infrastructure.Context.EF/obj/