*.cache*.targets
*.props
*.dll
*.pdb
*.publishsettings
\backend\GD.API\GD.WebAPI\obj
*.db
*.dtbcache
*.vs
.vs/
*.user
.vs
*.csproj
backend\GD.API\GD.WebAPI\bin

backend/GD.API/GD.WebAPI/bin/
backend/GD.API/GD.WebAPI/obj/
backend/GD.API/GD.WebAPI/Properties/PublishProfiles
backend/GD.API/GD.WebAPI/appsettings.Development.json
backend/GD.API/GD.WebAPI/Properties/launchSettings.json
