@{
    ViewBag.Title = "Painel de administração";
}
<style>
.jumbotron {
    background-image: url('/imagem/fundo.png');

}


</style>
<div class="jumbotron">
    <img src="/imagem/logo-guarda.png" />
    <h1 style="color:#fff;">Guarda Digital</h1>
    <p>Combatendo a violência com inteligência</p>
</div>
