
@{
    ViewBag.Title = "Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="m-l-20">Ocorrências</h2>


<div class="row">
        <section class="panel">
            <div class="panel-body">
                <table data-page-length='10' id="datatables" class="display table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Código
                            </th>
                            <th>
                                Nome
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatables').DataTable({
            "ajax": {
                "url": "/guardadigital/DatatablesOcorrencias",
                "type": "GET"
            },
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
            },
            "paging": true,
            "processing": true,
            "info": true,
            'dom': 'Blfrtip',
            'buttons': [
                {
                    "extend": 'copy',
                    text: '<i class="glyphicon glyphicon-plus"></i> Copiar',
                    className: 'btn btn-info btn-round btn-sm m-r-10'
                },
                {
                    "extend": 'excel',
                    text: '<i class="glyphicon glyphicon-export"></i> Excel',
                    className: 'btn btn-info btn-round btn-sm  m-r-10'
                },
                {
                    "extend": 'print',
                    text: '<i class="glyphicon glyphicon-print"></i> Imprimir',
                    className: 'btn btn-info btn-round btn-sm  m-r-10'
                }
            ],
            "deferRender": true,
            "serverSide": true,
            "searchDelay": 200,
            "autoWidth": true,
            "stateSave": true,
            "columns": [
                { "data": "Codigo", "orderable": false },
                { "data": "Nome", "orderable": false },
            ],
        });
    });

</script>